<body>
<div class="login-container">
  <h1>Tính toán số học</h1>
  <form class="login-form">
    <h2>TÍNH TOÁN SỐ HỌC</h2>
    <div class="a-input">
      <label for="A">nhập số A:</label>
      <input type="text" id="A" name="A" #aInput="ngModel" [(ngModel)]="a">
    </div>
    <div class="b-input">
      <label for="B">nhập số B:</label>
      <input type="text" id="B" name="B" #bInput="ngModel" [(ngModel)]="b">
    </div>
    <div class="kq-input">
      <label for="kq">Kết quả:</label>
      <input type="text" id="kq" name="kq" [(ngModel)]="result">
    </div>
    <div class="button-container">
      <div class="sum">
        <button type="submit" (click)="sum(aInput.value, bInput.value)">+</button>
      </div>
      <div class="sub">
        <button type="submit" (click)="subtract(aInput.value, bInput.value)">-</button>
      </div>
      <div class="mul">
        <button type="submit" (click)="multiply(aInput.value, bInput.value)">*</button>
      </div>
      <div class="div">
        <button type="submit" (click)="divide(aInput.value, bInput.value)">/</button>
      </div>
    </div>
  </form>
</div>
</body>
