.login-container {
  margin-top: 100px;

}

.login-container h1{
  margin-bottom: 20px;
  margin-left: 750px;
}

.login-form {
  width: 400px;
  padding: 16px;
  border: 1px solid #ccc;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.login-form h2 {
  margin-bottom: 20px;
  background-color: #4583a0;
  color: white;
  padding: 10px;
  width: 100%; /* Thiết lập chiều rộng là 100% */
  box-sizing: border-box; /* Đảm bảo rằng padding không tăng kích thước bên ngoài của phần tử */
  text-align: center;
}

.a-input,
.b-input,
.kq-input{
  display: flex;
  margin-bottom: 10px;
}

.a-input label,
.b-input label,
.kq-input label{
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

.a-input input[type="text"],
.b-input input[type="text"],
.kq-input input[type="text"]
{
  flex: 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: right;
}

.remember-me input[type="checkbox"] {
  margin-left: 160px; /* Thay đổi margin-left thành giá trị mong muốn */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.remember-me label {
  margin-left: 10px;
}

.submit button {
  margin-left: 160px;
  background-color: darkgrey;
  width: 100px;
  padding: 5px;
  border-radius: 5px;

}


