<div id="layout">
  <div id="header">
    <div class="hLeft">
      <h1><img src="assets/img_logo.gif" alt=""/></h1>
      <p>www.hocwebchuan.com</p>
    </div>

    <div class="hRight">
      <ul class="btn-right">
        <li><a href="#"><img src="assets/btn_name01.gif" alt=""/></a></li>
        <li><a href="#"><img src="assets/btn_name02.gif" alt=""/></a></li>
      </ul>

      <ul class="link-right">
        <li><a href="#">link 01</a></li>
        <li><a href="#">link 02</a></li>
        <li><a href="#">link 03</a></li>
        <li><a href="#">link 04</a></li>
      </ul>
    </div>
  </div>

  <div id="gNav">
    <ul>
      <li><a href="#">TRANG CHỦ</a></li>
      <li><a href="#">GIỚI THIỆU</a></li>
      <li><a href="#">SẢN PHẨM</a></li>
      <li><a href="#">DỊCH VỤ</a></li>
      <li><a href="#">LIÊN HỆ</a></li>
    </ul>
  </div>

  <div id="pageBody">
    <!--    Phan san pham-->
    <div id="content">
      <h2>Sản phẩm mới</h2>
      <div class="newProduct">
        <p><img style="width: 250px; height: 150px" src="assets/sanphammoi.jpg" alt=""/></p>
        <div>
          <h3>Tên sản phẩm</h3>
          <p>Text giới thiệu sản phẩm text giới thiệu sản phẩm text giới thiệu sản phẩm text giới thiệu sản phẩm text
            giới thiệu sản phẩm text giới thiệu sản phẩm.</p>
        </div>
      </div>

      <ul>
        <li><a href="#"><img src="assets/img_products01.jpg" alt=""/></a></li>
        <li><a href="#"><img src="assets/img_products01.jpg" alt=""/></a></li>
        <li><a href="#"><img src="assets/img_products01.jpg" alt=""/></a></li>
        <li><a href="#"><img src="assets/img_products01.jpg" alt=""/></a></li>
        <li><a href="#"><img src="assets/img_products01.jpg" alt=""/></a></li>
        <li><a href="#"><img src="assets/img_products01.jpg" alt=""/></a></li>
      </ul>

      <!--      Phan tin tuc-->
      <h2>Tin tức</h2>
      <dl class="news">
        <dt>07/05/2012</dt>
        <dd><a href="#">Tin mới tin mới tin mới tin mới tin mới tin mới tin mới.</a></dd>

        <dt>07/05/2012</dt>
        <dd><a href="#">Tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới.</a>
        </dd>

        <dt>07/05/2012</dt>
        <dd><a href="#">Tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới tin mới
          tin mới tin mới tin mới.</a></dd>
      </dl>
      <!--      Phan banner contact-->
      <p><a href="#"><img src="assets/bnr_name01.gif" alt=""/></a></p>
    </div>
    <!--    Sile bar-->
    <div id="sidebar"><h2>Link liên quan</h2>
      <ul>
        <li><a href="#">Link liên quan 01</a></li>
        <li><a href="#">Link liên quan 02</a></li>
        <li><a href="#">Link liên quan 03</a></li>
        <li><a href="#">Link liên quan 04</a></li>
        <li><a href="#">Link liên quan 05</a></li>
      </ul>

      <br>
      <h2>Link liên quan</h2>
      <ul>
        <li><a href="#"><img src="assets/bnr_name02.gif" alt=""/></a></li>
        <li><a href="#"><img src="assets/bnr_name02.gif" alt=""/></a></li>
        <li><a href="#"><img src="assets/bnr_name02.gif" alt=""/></a></li>
      </ul>
    </div>
  </div>

  <div id="footer">
    <div class="fLeft">
      <p>TMA SOLUTION</p>
      <p>Địa chỉ: 317 Nguyễn Văn hai p12 q6<br/>
        Điện thoại: 048928525</p>
      <p>Email: <a href="nguyenminhthongitmix@gmail.com">nguyenminhthongitmix@gmail.com</a></p>
      <!-- / class fLeft --></div>

    <div class="fRight">
      <ul>
        <li><a href="#">Link 01</a></li>
        <li><a href="#">Link 02</a></li>
        <li><a href="#">Link 03</a></li>
        <li><a href="#">Link 04</a></li>
      </ul>
      <p>Copyright (c) 2012 Tên công ty</p>
      <!-- / class fRight --></div>
  </div>
</div>
